{% extends 'base.html' %}

{% block page_title %}About{% endblock %}

{% block page_content %}
	<table class="des">
		<tr>
			{% for libdisplay, lib in [("JUNIOR", "jnr"), ("SENIOR", "snr")] %}
			<th class="librarydes">
				<h1>{{ libdisplay }} LIBRARY</h1>

				<h2>Normal opening hours</h2>
				<table class="indent">
					{% for day in ["monday", "tuesday", "wednesday", "thursday", "friday"] %}
						<tr class="text-align: center;">
							<td style="width: 110px; text-align: left">{{ day | capitalize }}:</td>
							<td style="text-align:left" id='{{ lib }}{{ day }}opening'>...am</td>
							<td style="text-align:right" id='{{ lib }}{{ day }}closing'>-...pm</td>
						</tr>
					{% endfor %}
				</table>
				<br>
				
				<h2>Total seats</h2>
				<div class="indent" id="{{ lib }}max">...</div>
				<br>
				
				<h2>Librarians</h2>
				<div id="{{ lib }}librarians">
				</div>
				<br>
				
				<h2>Email address</h2>
				{% if lib == "jnr" %} 
					<a href="mailto:juniorlibrary@sbhs.nsw.edu.au">juniorlibrary@sbhs.nsw.edu.au</a>
				{% elif lib == "snr" %}
					<a href="mailto:seniorlibrary@sbhs.nsw.edu.au">seniorlibrary@sbhs.nsw.edu.au</div>
				{% endif %}
				<br>
			</th>
			{% endfor %}
		</tr>
	</table>
	<script type="text/javascript" src="{{ url_for('static', filename='js/aboutdata.js') }}"></script>
{% endblock %}
