<!DOCTYPE html>
<head>
	<title>
		{% block title %}
			{% block page_title %}{% endblock %}
		{% endblock %}
	</title>
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<script>
		document.documentElement.hidden = true;
	</script>
</head>
<body style="background-color: var(--bg-primary-col);">
    <nav class="navbar">
        <div class="container-fluid" style="padding-left: 10px">
            <div class="navbar-header">
                <a class="navbar-brand header-size" href="/">
					<span><img src="/static/logo.png" class="logo-size"></span>
					L-Bot
				</a>
            </div>
			
			{% block navbar_content %}
            <ul class="nav me-auto">
                <li class="nav-item"><a class="navbar-link" href="/">Home</a></li>
                <li class="nav-item"><a class="navbar-link" href="/events">Events</a></li>
				<li class="nav-item"><a class="navbar-link" href="/about">About</a></li>
                <li class="nav-item"><a class="navbar-link" href="/login">Librarian page</a></li>
            </ul>
			{% endblock %}
            <div class="theme-switch">
                <div class="toggle-box">
                    Theme:
                    <input type="checkbox" name="checkbox1" id="toggle-box-checkbox">
                    <label for="toggle-box-checkbox" class="toggle-box-label-left"></label>
                </div>
            </div>
        </div>
    </nav>
	
	<script type="text/javascript" src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
	<script>
		
		const sio = io(`${window.origin}:2910`);
	</script>
    
	
    <div id="page-content" class="container-fluid" style="height: calc(100vh - 80px)">
		<br>
		{% block page_content %}{% endblock %}
    </div>
	
	
	<script type="text/javascript" src="{{ url_for('static', filename='themetoggle.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='popper.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
	<script>
		// smart fix for FOUC (Flash Of Unstyled Content) where the raw, unstyled page would generate before the final one.
		document.documentElement.hidden = false;
		// also the main page content (excluding the navbar) is blank until socket.io is fully loaded, then it fades in
		sio.on("connect", () => {
			document.body.style.opacity = "1";
			document.getElementById("page-content").style.opacity = 1;
		});
    </script>
</body>