{% macro today(libname) -%}
	<!-- TODO -->
    <canvas id="{{ libname }}Predictions" width="400" height="200"></canvas>
{%- endmacro %}

{% macro pasttrends(libname) -%}
	<script src="https://www.chartjs.org/dist/2.9.4/Chart.min.js"></script>
	<style>
		.selected {
		    text-underline-offset: 8px;
			text-decoration: underline;
		}
	</style>
	<!-- indexing: [n/a, mon, tues, wed, thurs, fri]-->
	{% for i, day in [(0, "Mon"), (1, "Tue"), (2, "Wed"), (3, "Thu"), (4, "Fri")] %}
		<button class="focusbtn {{ libname }}daybtn" onclick="displayGraph(`{{ libname }}`, {{ i }})">{{ day }}</button>
	{% endfor %}
	<canvas id="{{ libname }}Trends"></canvas>
	
	<script>
		function displayGraph(libname, update){
			for (let i = 0; i < 5; i++) {
				var curr = document.getElementsByClassName(libname + "daybtn")[i];
				if (i === update) curr.classList.add("selected");
				else curr.classList.remove("selected");
			}
			window.trends[libname].data.datasets = [];
			window.trends[libname].data.datasets.push(dataset(libname,update));
			window.trends[libname].update();
		}
		
		function dataset(libname, index){
			var data = {
				//label: ["Mon", "Tue", "Wed", "Thu", "Fri"][index],
				data: trendsData[libname]["data"][index],
				pointHitRadius: 5,
				HoverBackgroundColor: [
					// "rgba(0, 0, 0, 0)",
					"rgba(255, 99, 132, 1)",
					"rgba(54, 162, 235, 1)",
					"rgba(85, 214, 64, 1)",
					"rgba(75, 192, 192, 1)",
					"rgba(153, 102, 255, 1)",
					"rgba(255, 159, 64, 1)"
				][index],
				backgroundColor: [
					// "rgba(0, 0, 0, 0)",
					"rgba(255, 99, 132, 0.2)",
					"rgba(54, 162, 235, 0.2)",
					"rgba(85, 214, 64, 0.2)",
					"rgba(75, 192, 192, 0.2)",
					"rgba(153, 102, 255, 0.2)",
					"rgba(255, 159, 64, 0.2)"
				][index],
				borderColor: [
					// "rgba(0, 0, 0, 0)",
					"rgba(255, 99, 132, 1)",
					"rgba(54, 162, 235, 1)",
					"rgba(85, 214, 64, 1)",
					"rgba(75, 192, 192, 1)",
					"rgba(153, 102, 255, 1)",
					"rgba(255, 159, 64, 1)"
				][index],
				borderWidth: 3
			}
			return data;
		}
	</script>
{%- endmacro %}

{% macro scripts() %}
	<script>
		function genAlert(libname, data) {
			if (data["alert"] !== "") {
				// nonzero alert
				document.getElementById(libname + "Alert").style.display = "visible";
				document.getElementById(libname + "Alerttext").innerHTML = data["alert"];
			}
			else {
				document.getElementById(libname + "Alert").style.display = "none";
			}
		}
		
		function genRemaining(libname, data) {
			document.getElementById(libname + "Remaining").innerHTML = data["max"] - data["count"];
		}

		function genFullness(libname, data) {
			let percentageFull = Math.round(data["count"] / data["max"] * 100);
			
			if (percentageFull <= 30) {
				document.getElementById(libname + "Status").innerHTML = "Not busy";
			}
			else if (percentageFull <= 70) {
				document.getElementById(libname + "Status").innerHTML = "Busy";
			}
			else {
				document.getElementById(libname + "Status").innerHTML = "Very busy";
			}
			
			document.getElementById(libname + "Fullness").innerHTML = percentageFull + "% full";
			document.getElementById(libname + "Fullness").style.width = percentageFull + "%";
		}
		
		function genPredictions(libname, data) {
			// TODO, using data["predictions"];
			var ctx = document.getElementById(libname + "Predictions").getContext("2d");
			/*new Chart(ctx, {
				type: "bar",
				data: {
					labels: ?
				},
				options: {
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero: true,
								max: 100
							}
						}]
					}
				}
			});*/
		}
		
		function genTrends(libname, data) {
			var ctx = document.getElementById(libname + "Trends").getContext("2d");
			window.trendsData[libname] = data["trends"];
			window.trends[libname] = new Chart(ctx, {
				type: "bar",
				data: {
					labels: window.trendsData[libname]["labels"],
				},
				options: {
					legend: {
						display: false,
					},
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero: true,
								max: 100,
							}
						}]
					}
				}
			});
		}
		
		window.trendsData = {};
		window.trends = {};
		getReq("home", function (data) {
			console.log(data);
			["jnr", "snr"].forEach(function(libname) {
				genAlert(libname, data[libname]);
				genRemaining(libname, data[libname]);
				genFullness(libname, data[libname]);
				genPredictions(libname, data[libname]);
				genTrends(libname, data[libname]);
			})
		});
		
	</script>
{% endmacro %}