{% extends 'base.html' %}

{% block title %}
    Librarian - {% block page_title %}{% endblock %}
{% endblock %}

{% block navbar_content %}
<ul class="nav mr-auto">
    <li class="nav-item"><a class="navbar-link" href="/librarian/preview">Preview</a></li>
	<li class="nav-item"><a class="navbar-link" href="/librarian/download">Download</a></li>
    <li class="nav-item"><a class="navbar-link" href="/librarian/events">Edit events</a></li>
	<li class="nav-item"><a class="navbar-link" href="/librarian/about">About</a></li>
    <li class="nav-item"><a class="navbar-link" href="/">Main page</a></li>
</ul>

<ul class="nav ml-auto">
    <li class="nav-item"><a class="navbar-link text-danger" href="/logout">Logout</a></li>
</ul>
{% endblock %}

{% block page_content %}
{% endblock %}