{% extends "librarian_base.html" %}

{% block page_title %}Edit{% endblock %}

{% block page_content %}
	<button type="button" class="focusbtn settab" onclick="setFocus('general', this)">General</button>
	<button type="button" class="focusbtn" onclick="setFocus('events', this)">Events</button>
	<button type="button" class="focusbtn" onclick="setFocus('alerts', this)">Alerts</button><br><br>
	
	<table class="edit-tabwrapper"><tr valign="top">
	<!-- GENERAL -->
	<th class="tab generaltab">
	<div class="form-inline edit-line">
    <label class="bold-this edit-label" for="day"> Day: </label>
	<select class="form-control edit-input" onchange="changeTimes(this)" id="day" name="day" required>
		<option value="Monday"> Monday </option>
		<option value="Tuesday"> Tuesday </option>
		<option value="Wednesyday"> Wednesday </option>
		<option value="Thursday"> Thursday </option>
		<option value="Friday"> Friday </option>
	</select>
	</div>
	<div class="form-inline edit-line">
	<label class="bold-this edit-label" for="openingTime"> Opening time: </label>
	<input type="time" class="form-control edit-input" id="openingTime" name="openingTime" onchange=changeOpening(this) required>
	</div>
	<div class="form-inline edit-line">
	<label class="bold-this edit-label" for="openingTime"> Closing time: </label>
	<input type="time" class="form-control edit-input" id="closingTime" name="closingTime" onchange=changeClosing(this) required>
	</div>
	<div class="form-inline edit-line">
	<label class="bold-this edit-label" for="maxSeats"> Maximum seats: </label>
	<input style="width: 80px; margin-right: 170px; display: inline" type="number" class="form-control" id="maxSeats" name="maxSeats" onchange=changeMaxSeats(this) required>
	</div>
	<div class="edit-line" style="width: 364px; margin: auto; margin-top: 20px;"> <label style=" text-align: left; margin-right: 300px; padding-right: 10px" class="bold-this edit-label"> Librarians: </label><br>
	<div id="librarians">
		{% for librarian in librarians %}
			<li class="edit-list-line bold-this" id="librarian{{ loop.index0 }}> <input class="form-control edit-list" type="text" value="{{ librarian }}" onchange=changeLibrarian({{ loop.index0 }})> <button class="btn btn-primary remove-button" onclick=destroyLibrarian({{ loop.index0 }})> <i style='font-family: "Font Awesome 5 Pro" !important; color: white;' class="fas fa-times-circle"></i> Remove </button> </li>
		{% endfor %}
		<button style="margin-left: -292px; margin-top: 20px; margin-bottom: 20px;" class="btn btn-primary submit-button" onclick="addLibrarian()"> <i style='font-family: "Font Awesome 5 Pro" !important; color: white;' class="fas fa-plus-circle"></i> Add </button>
	</div>
	</div>
	<button class="btn btn-primary save-button" style="margin-right: 112px;"> <i style='font-family: "Font Awesome 5 Pro" !important; color: white;' class="fas fa-check-circle"></i> Save changes </button><button class="btn btn-primary remove-button"> <i style='font-family: "Font Awesome 5 Pro" !important; color: white;' class="fas fa-redo-alt"></i> Cancel changes </button>
	</th>
	
	<!-- EVENTS TAB -->
	<th class="tab eventstab">
	<ul class="key list" style="font-weight: normal">
		<li class="highimpact"> High impact </li>
		<li class="moderateimpact"> Moderate impact </li>
		<li class="lowimpact"> Low impact </li>
	</ul>
	<div class="event-tooltip">
		<ul class="tooltip-list">
			<li class="highimpact"></li>
			<li class="moderateimpact"></li>
			<li class="lowimpact"></li>
		</ul>
	</div>
	<ul class="list" id="events">
		<li onclick="makeEdit(event)" class="edit-hover highimpact bold-this"> <input class="form-control edit-event" type="text" value="Year 11 exams"> <button class="btn btn-primary remove-button"> <i style='font-family: "Font Awesome 5 Pro" !important; color: white;' class="fas fa-times-circle"></i> Remove </button></li>
				<li onclick="makeEdit(event)" class="edit-hover highimpact bold-this"> <input class="form-control edit-event" type="text" value="Year 10 excursion"> <button class="btn btn-primary remove-button"> <i style='font-family: "Font Awesome 5 Pro" !important; color: white;' class="fas fa-times-circle"></i> Remove </button></li>
		<li onclick="makeEdit(event)" class="edit-hover moderateimpact bold-this"> <input class="form-control edit-event" type="text" value="Shortage of seats"> <button class="btn btn-primary remove-button"> <i style='font-family: "Font Awesome 5 Pro" !important; color: white;' class="fas fa-times-circle"></i> Remove </button></li>
				<li onclick="makeEdit(event)" class="edit-hover lowimpact bold-this"> <input class="form-control edit-event" type="text" value="Bogabilla fundraising BBQ"> <button class="btn btn-primary remove-button"> <i style='font-family: "Font Awesome 5 Pro" !important; color: white;' class="fas fa-times-circle"></i> Remove </button></li>
		<button style="margin-left: -15px; margin-top: 20px; margin-bottom: 20px;" class="btn btn-primary submit-button" > <i style='font-family: "Font Awesome 5 Pro" !important; color: white;' class="fas fa-plus-circle"></i> Add </button><br>
		<button class="btn btn-primary save-button" style="margin-left: -15px; margin-right: 10px;"> <i style='font-family: "Font Awesome 5 Pro" !important; color: white;' class="fas fa-check-circle"></i> Save changes </button><button class="btn btn-primary remove-button"> <i style='font-family: "Font Awesome 5 Pro" !important; color: white;' class="fas fa-redo-alt"></i> Cancel changes </button>
	</ul>
	</th>
	
	<!-- ALERTS TAB -->
	<th class="tab alertstab">
	<div class="alert-tooltip">
		<ul class="alert-list">
			<li class="exclamation-triangle">⚠</li>
			<li class="information">ℹ</li>
		</ul>
	</div>
	<ul class="alert-list" id="events">
		<li onclick="makeEdit(event)" class="form-inline bold-this"><div class="exclamation-triangle">⚠</div><textarea class="form-control alert-box"> Library is under construction </textarea><button class="btn btn-primary remove-button"> <i style='font-family: "Font Awesome 5 Pro" !important; color: white;' class="fas fa-times-circle"></i> Remove </button></li>
		<li onclick="makeEdit(event)" class="form-inline bold-this"><div class="exclamation-triangle">⚠</div><textarea class="form-control alert-box"> Library overtaken by monkeys! </textarea><button class="btn btn-primary remove-button"> <i style='font-family: "Font Awesome 5 Pro" !important; color: white;' class="fas fa-times-circle"></i> Remove </button></li>
		<li onclick="makeEdit(event)" class="form-inline bold-this"><div class="information">ℹ</div><textarea class="form-control alert-box"> Please by mindful of the wet paint smile </textarea> <button class="btn btn-primary remove-button"> <i style='font-family: "Font Awesome 5 Pro" !important; color: white;' class="fas fa-times-circle"></i> Remove </button></li>
		<button style="margin-left: -15px; margin-top: 20px; margin-bottom: 20px;" class="btn btn-primary submit-button" > <i style='font-family: "Font Awesome 5 Pro" !important; color: white;' class="fas fa-plus-circle"></i> Add </button><br>
		<button class="btn btn-primary save-button" style="margin-left: -15px; margin-right: 10px;"> <i style='font-family: "Font Awesome 5 Pro" !important; color: white;' class="fas fa-check-circle"></i> Save changes </button><button class="btn btn-primary remove-button"> <i style='font-family: "Font Awesome 5 Pro" !important; color: white;' class="fas fa-redo-alt"></i> Cancel changes </button>
	</ul>
	</th>
	</tr></table>
	<script>
		var opening_times = {{ opening_times }};
		var closing_times = {{ closing_times }}
		var max_seats = {{ max_seats }};
		var librarians = {{ librarians }};
		
		var currentDay = new Date().getDay() - 1;
		if (currentDay == -1 || currentDay == 5) {
			currentDay = 0;
		}
		var selectedDay = document.getElementById("day");
		day.value = [...day.options].map(option => option.value)[selectedDay];
		changeTimes(day);
		
		function setFocus(newFocus, obj) {
			document.getElementsByClassName("settab")[0].classList.remove("settab");
			obj.classList.add("settab");
			switch (newFocus) {
				case "general":
					document.body.classList.remove("focuscenter");
					document.body.classList.remove("focusright");
					break;
				case "events":
					document.body.classList.remove("focusright");
					document.body.classList.add("focuscenter");
					break;
				case "alerts":
					document.body.classList.remove("focuscenter");
					document.body.classList.add("focusright");
					break;
			}
		}
		
		function changeTimes(dayElement) {
			var day = this.day;
			var openingTime = document.getElementById("openingTime");
			var closingTime = document.getElementById("closingTime");
			openingTime.value = opening_times[day];
			closingTime.value = closing_times[day];
		}
		
	</script>
{% endblock %}