{% extends 'librarian_base.html' %}

{% block page_title %}Statistics{% endblock %}

{% block page_content %}
    <div style="float: left; width: 50%">
		<h3> Data parameters </h3>
        <form class="auth_form" style="position: relative; width: 500px" action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                <div class="form-inline">
                    {{ form.start_date.label(class_="form-label bold-this") }}
                    {{ form.start_date(class_="form-control data-entry") }}<br>
				{% if form.start_date.errors %}
                    <ul class="feedback">
                    {% for error in form.start_date.errors %}
                        <li class="text-danger"> {{ error }} </li>
                    {% endfor %}
                    </ul> {# todo make warning colour nice in both light and dark mode #}
                {% endif %}
                </div>
            </p>
            <p>
                <div class="form-inline">
                    {{ form.end_date.label(class_="form-label bold-this") }}
                    {{ form.end_date(class_="form-control data-entry") }}<br>
				{% if form.end_date.errors %}
                    <ul class="feedback">
                    {% for error in form.end_date.errors %}
                        <li class="text-danger">{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                </div>
            </p>
            <p>
                <div class="form-inline">
                    {{ form.data_frequency.label(class_="form-label bold-this") }}
                    {{ form.data_frequency(class_="form-control data-entry") }}<br>
				{% if form.data_frequency.errors %}
                    <ul class="feedback">
                    {% for error in form.data_frequency.errors %}
                        <li class="text-danger"> {{ error }} </li>
                    {% endfor %}
                    </ul>
                {% endif %}
                </div>
            </p>
            {{ form.preview(class_="btn btn-primary submit-button", style="margin-right: 10px") }}
			{{ form.download(class_="btn btn-primary submit-button") }}
        </form>
    </div>
    <div style="float: right; width: 50%">
        <div>
            <h3>Preview</h3>
            <canvas id="librarian-graph"></canvas>
            <script src="{{ url_for('static', filename='Chart.min.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='librarian.js') }}"></script>
            <script>
                var ctx = document.getElementById("librarian-graph").getContext("2d");

                window.librarianGraph = new Chart(ctx, {
                    type: "line",
                    data: {
                        datasets: [{
                            pointHitRadius: 5,
                            HoverBackgroundColor: "rgba(255, 99, 132, 1)",
                            backgroundColor: "rgba(255, 99, 132, 0.2)",
                            borderColor: "rgba(255, 99, 132, 1)",
                            borderWidth: 3
                        }],
                    },
                    options: {
                        legend: {
                            display: false,
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    max: 100, // max expected value of students/ data, adjust as required
                                }
                            }]
                        },
                        plugins: {
                            title: {
                                display: true,
                                text: 'Graph' //umm wait does this even work?
                            }
                        }
                    }
                });
            </script>
            <button class="btn btn-primary submit-button" onclick="imageDownload()">Download graph as image</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='librarian.js') }}"></script>
    <script>
        console.log("Graph data: {{ graphData | safe }}");
        update_graph({{ graphData | safe }});
    </script>
{% endblock %}