{% extends 'base.html' %}

{% block page_title %}Librarian Login{% endblock %}

{% block page_content %}
    <form class="auth_form" action="" method="post" novalidate onsubmit='localStorage["librarian"] = this.librarian.value'>
        {{ form.hidden_tag() }}
        <h3>Librarian Login</h3>
        <p>
			<div class="form-inline">
				{{ form.librarian.label(class_="form-label bold-this") }} {{ form.librarian(class_="form-control data-entry") }}<br>
			</div>
            {% if form.librarian.errors %}
				<ul>
				{% for error in form.librarian.errors %}
					<li class="feedback text-danger"> {{ error }} </li>
				{% endfor %}
				</ul> {# todo read below #}
            {% endif %}
        </p>
        <p>
			<div class="form-inline">
				{{ form.password.label(class_="form-label bold-this") }} {{ form.password(class_="form-control data-entry", size=20) }}<br>
			</div>
            {% if form.password.errors %}
				<ul class="feedback">
				{% for error in form.password.errors %}
					<li class="text-danger"> {{ error }} </li>
				{% endfor %}
				</ul>
            {# todo make this colour a variable, so it appears nice in dark mode #}
            {% endif %}
        </p>
        {{ form.submit(class_="btn btn-primary submit-button") }}
    </form>
	<script>
		if (!("librarian" in localStorage)) {
				localStorage["librarian"] = "Junior";
		}
		document.getElementById("librarian").value = localStorage["librarian"];
	
		function update_librarian(event) {
			console.log(event);
			console.log(this);
		}
	</script>
{% endblock %}