/* GENERAL STUFF */
@import url('https://fonts.googleapis.com/css2?family=Carme&family=Roboto&display=swap');
/*Both the light and dark themes inherit all values in this.
This is used for shared values like interface sizing, and fonts*/
[class*="theme-"] {
    --navbarheadersize: 35px;
    --border-rad: 25px;
    --primary-font: 'Carme';
    --secondary-font: 'Roboto';
}

.theme-light {
    --bg-primary-col: #DCDCDC;
    --bg-second-col: #FFFFFF;
    --bg-third-col: #FCFCFC;
    /*--bg-nav-col-2: #393F4D;*/
    --bg-library-col: #DCDCDC;
	--border-colour: #000000;
	--bg-form-col: rgba(0, 0, 0, 0.1);

    --txt-primary-col: #1E90FF;
    --nav-primary-col: #1E90FF;
    --a-hover-col: #1E90FF;
    --txt-col: #000000;

    --toggle-box-text: "Light";
}

.theme-dark {
	--bg-primary-col: #283035;
	--bg-second-col: #000000;
	--bg-third-col: #393F4D;
    /* --bg-nav-col-2: #393F4D; */
    --bg-library-col: #283142;
	--bg-form-col: rgba(255, 255, 255, 0.1);
	--border-colour: #EEEEEE;

	--txt-primary-col: #4DD0E1;
	--nav-primary-col: #1E90FF;
	--a-hover-col: #FF5A09;
    --txt-col: #FFFFFF;
    --toggle-box-text: "Dark";
}

* {
	transition: transform 1s, background-color 0.4s;
}

#page-content {
	opacity: 0;
	transition: 0.2s, opacity 0.2s linear 0.2s, background-color linear 0.5s;
}

body {
	opacity: 0;
    padding: 0;
    margin: 0;
    background-color: var(--bg-primary-col);
    position: absolute;
    width: 100%;
    top: 0px; /* how much you want to shift entire body down */
}

a, h1, h2, h3, h4, h5, h6, i, button, #setting-content-wrapper {
    font-family: var(--primary-font), sans-serif !important;
    color: var(--txt-primary-col);
}

hr {
	background: var(--txt-primary-col);
}

a:hover {
    color: var(--a-hover-col);
}

p, div, ul, progress, a, td, tr, th {
    color: var(--txt-col);
}

.navbar a {
    color: var(--nav-primary-col);
}

.body p {
    font-size: 15px;
    font-family: var(--secondary-font), sans-serif;
}

.header-size {
    font-size: var(--navbarheadersize);
}


a {
    text-decoration: None !important;
}

table td, table td * {
    vertical-align: top;
}

.bold-this {
    font-weight: bold;
}

/* NAVBAR */
.toggle-box {
	display: flex;
	align-items: center;
}

.toggle-box input[type=checkbox], .toggle-box input[type=checkbox]:active {
	display: none;
}

.toggle-box input[type=checkbox]:checked + .toggle-box-label-left {
	color: hsla(0, 0%, 58.4%, .51);
}

.toggle-box input[type=checkbox]:checked + .toggle-box-label-left:before {
	right: 17px;
	box-shadow: 5px 5px 0 0 #eee;
	background: transparent;
}

.toggle-box-label-left:before {
	transition-duration: 0.7s;
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	line-height: 34px;
	text-indent: 40px;
	height: 16px;
	width: 16px;
	margin: 4px;
	border-radius: 100%;
	right: 26px;
	bottom: 0;
	background: #ffb200;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.toggle-box input[type=checkbox]:checked + .toggle-box-label-left:after {
	background: rgba(0, 0, 0, .15);
	border: 2px solid #ddd;
}

.toggle-box-label-left:after {
	content: "";
	display: inline-block;
	width: 40px;
	height: 24px;
	border-radius: 16px;
	background: hsla(0, 0%, 100%, .15);
	vertical-align: middle;
	margin: 0 10px;
	border: 2px solid #ffb200;
}

.toggle-box input[type=checkbox] + .toggle-box-label-left {
	color: hsla(0, 0%, 98%, .51);
}

.toggle-box input[type=checkbox]:checked + .toggle-box-label-left + .toggle-box-label {
	color: hsla(0, 0%, 98%, .51);
}

.toggle-box label {
	margin-bottom: 0px;
	display: inline-block;
	position: relative;
	padding: 0;
	font-size: 14px;
	line-height: 16px;
	cursor: pointer;
	color: hsla(0, 0%, 58.4%, .51);
}

.navbar {
	background: var(--bg-second-col);
	/*background: linear-gradient(180deg, var(--bg-second-col), var(--bg-primary-col));*/
	// border-bottom: 1px var(--txt-primary-col) solid;
	height: 80px;
	position: sticky; /* similar to fixed, but will work if you want to add something to top of nav */
	top: 0px;
	width: 100%;
	z-index: 1;
}

.nav li {
	margin-left: 40px;
	margin-right: 0px;
	font-size: 25px;
}

.navbar-text {
	height: 80px;
	padding: 30px 20px 20px 20px;
}

a.navbar-text:hover {
	background: rgb(240, 240, 240);
}

.logo-size {
	height: var(--navbarheadersize);
}

.container-fluid {
	padding: 55px;
	position: fixed;
	text-align: center;
	overflow-y: visible;
	overflow-x: hidden;
}

/* HOME */
.chartContainer {
	height: 600px;
}

.focusbtn {
	padding: 0px 15px;
	background-color: transparent;
	border: none;
	font-size: 20px;
	font-weight: 800;
}
.focusbtn:focus {
	outline: none;
}
		
.tabwrapper {
	width: calc(200vw - 240px);
	position: absolute;
	transition-duration: 0.8s;
	margin-top: 10px;
}
.tab {
	width: calc(100vw - 120px);
}
.jnrtab {
	opacity: 1;
	transition:opacity 0.8s linear;
}
.snrtab {
	opacity: 0;
	transition:opacity 0.8s linear;
}
.tabline {
	position: absolute;
	height: 2px;
	width: 70px;
	background-color: var(--txt-primary-col);
	left: calc(50% - 83px);
}

.uppertabline {
	position: absolute;
	height: 2px;
	width: 70px;
	background-color: var(--txt-primary-col);
	left: calc(50% - 126px);
}

.focusright .tabwrapper {
	transform: translate(-50%);
}
.focusright .jnrtab {
	opacity: 0;
	transition:opacity 0.8s linear;
}
.focusright .snrtab {
	opacity: 1;
	transition:opacity 0.8s linear;
}
.focusright .tabline {
	left: calc(50% + 8px);
}

.alert {
	width: 90%;
	margin: auto;
	margin-top: 15px;
	color: white;
	background-color: red;
	border-radius: 20px;
	padding: 15px;
	font-size: 20px;
}

.closebtn {
	color: white;
	font-weight: 900;
	float: right;
	font-size: 40px;
	line-height: 0px;
	cursor: pointer;
	transition: 0.3s;
	padding: 10px;
}

.closebtn:hover {
	color: black;
}
		
.progress {
	width: 90%;
	margin: auto;
	margin-top: 10px;
	height: 75px;
	border-radius: 20px;
	font-size: 30px;
	border: 2px solid var(--border-colour);
	background-color: var(--bg-primary-col);
}

.progress-bar {
	color: var(--txt-col);
	background-color: var(--nav-primary-col);
	width: 0px;
}

.status {
	font-size: 30px;
	text-align: center;
	margin: 20px 0px;
}

.title {
	font-size: 45px;
	text-align: center;
	padding: 20px;
}

#jnrFullness {
	margin: auto;
}

#snrFullness {
	margin: auto;
}

.periods {
	width: 30%;
	margin: auto;
}

.periods td, .periods th {
	border: 1px solid var(--border-colour);
}

.periods th {
	background-color: var(--nav-primary-col);
}

/*
.periodText {
	font-weight: normal;
	font-size: 19px;
	text-align: left;
	width: 15%;
}

.periodFullness {
	font-weight: normal;
	font-size: 19px;
	width: 15%;
}
*/

.selected {
	text-underline-offset: 8px;
	text-decoration: underline;
}

/* EVENTS */
.key {
	float: right;
	border: 2px solid var(--border-colour);
	border-radius: 10px;
	padding: 50px;
	text-align: left;
	width: 400px;
}
.list {
	text-align: left;
	list-style: none;
	font-size: 28px;
}
.list li::before {
	content: "•";
	font-size: 35px;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin: -10px -15px -15px -15px;
	padding-bottom: 15px;
}
.highimpact::before {
	color: red;
}
.moderateimpact::before {
	color: orange;
}
.lowimpact::before {
	color: green;
}

/* ABOUT */
.des {
	width: 100%;
}

.librarydes {
	width: 50%;
	text-align: center;
	vertical-align: text-top;
}

.indent {
	margin-left: auto;
	margin-right: auto;
}

/* IDK */
.auth_form {
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: fit-content;
	width: 400px;
	background-color: var(--bg-form-col);
	padding: 20px;
	border-radius: 20px;
}

.form-label {
	width: 24%;
}

.data-entry {
	width: 76% !important;
}

.form-inline {
	margin-bottom: 20px;
}

.form-inline label {
	justify-content: flex-end;
	padding-right: 10px;
}

.feedback {
	margin-bottom: 0px;
}

.submit-button {
	background-color: var(--nav-primary-col);
	border: none;
}

.logout > * {
	color: #dc3545;
}

.logout:hover > * {
	color: #a21d2d;
}

/*For later use*/

.update {
	
}

.edit-line {
	margin: auto;
	margin-top: 10px;
	width: 500px;
}

.edit-label {
	width: 200px;
}

.edit-input {
	width: 250px !important;
}

.edit-list {
	margin-left: -204px;
	margin-right: 20px;
	display: inline;
	width: 200px !important;
}

.edit-list-line {
	margin: auto;
	margin-top: 10px;
	width: 500px;
	font-size: 20px;
}

.remove-button {
	background-color: #dc3545;
	border: none;
}

.remove-button:hover {
	background-color: #a21d2d;
}

.save-button {
	background-color: #1b9420;
	border: none;
}

.save-button:hover {
	background-color: #007105;
}



.edit-event {
	display: inline;
	width: 50%;
	margin-bottom: 10px;
}
.edit-hover:hover {
	cursor: pointer;
}
.event-tooltip {
	position: absolute;
	border-radius: 10px;
	background-color: black;
	width: 55px;
	height: 90px;
	margin-left: -50px; 
	margin-top: -20px;
}
.event-tooltip::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 60px;
	right: 5px;
	transform: rotate(-45deg);
	background-color: black;
	z-index: -1;
}

.tooltip-list {
	margin-top: 5px;
	margin-left: -40px;
	list-style: none;
}

.tooltip-list li::before {
	content: "•";
	font-size: 42px;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin: -25px -15px -25px -15px;
}

.alert-list {
	padding-left: 10px;
	text-align: left;
	list-style: none;
}

.alert-box {
	width: 50% !important;
	margin-right: 10px;
}

.exclamation-triangle {
	margin-right: 10px;
	font-size: 28px;
}

.information {
	margin-right: 10px;
	font-size: 28px;
}

.alert-tooltip {
	position: absolute;
	border-radius: 10px;
	background-color: black;
	width: 55px;
	height: 100px;
	margin-left: -50px; 
	margin-top: -20px;
}
.alert-tooltip::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 60px;
	right: 5px;
	transform: rotate(-45deg);
	background-color: black;
	z-index: -1;
}

